
<div>

  <h1> Local account </h1>

  <% if(user.local.username) {  %>
  <p> <b> id: </b> <%= user._id %> </p>
  <p> <b> email: </b> <%= user.local.username %> </p>
  <p> <b> password: </b> <%= user.local.password %> </p>

  <a href="/unlink/local"> Logout </a>
  <% } else { %>
  <a href="/connect/local"> Login </a>
  <% } %>
</div>



<div>

  <h1> Facebook account </h1>
  <% if(user.facebook.token) { %>
  <p> <b> id: </b> <%= user.facebook.id %> </p>
  <p> <b> token: </b> <%= user.facebook.token%> </p>
  <p> <b> email: </b> <%= user.facebook.email%> </p>
  <p> <b> name: </b> <%= user.facebook.name %> </p>
  <a href="/unlink/facebook"> Logout </a>
  <% } else { %>
  <a href="/connect/facebook"> Login </a>
  <% } %>


</div>


<div>
  <h1> Google account </h1>

  <% if(user.google.token) { %>

  <p> <b> id: </b> <%= user.google.id %> </p>
  <p> <b> token: </b> <%= user.google.token%> </p>
  <p> <b> email: </b> <%= user.google.email%> </p>
  <p> <b> name: </b> <%= user.google.name %> </p>
  <a href="/unlink/google"> Logout </a>
  <% } else { %>
  <a href="/connect/google"> Login </a>
  <% } %>
</div>